<!DOCTYPE html>
<html>
  <head>
    <title>RENDER</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This page is rendered as a response</h1>
  </body>
</html>
