<!DOCTYPE html>
<html>
  <head>
    <title>POST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/form-post" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="age" placeholder="Age" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
